/* reviewBox.css */
.review-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.review-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.review-messages {
    padding: 10px;
    /* max-height: 300px; */
    overflow-y: auto;
}

.review-message {
    padding: 8px 12px;
    border-radius: 5px;
    margin: 5px;
}

/* .user-message {
    text-align: right;
    background-color: #dff9fb;
    display: flex;
    max-width: 60%;
} */

.user-message {
    text-align: left;
    background-color: #dff9fb;
    display: flex;
    max-width: 60%;

    word-wrap: break-word; /* To allow long messages to break into multiple lines */
    padding: 5px 10px; /* Adding padding for better readability */
    border-radius: 5px;

}


.bot-message {
    background-color: #f4f4f4;
}

.review-input {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.input-field {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    resize: none; /* Prevent textarea from being resized by user */
}

.image-upload {
    display: block; /* Hide the input file element */
}

.attached-image {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
}

.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
  